* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei";
}

.top-header {
    height: 85px;
    font-size: 24px;
    line-height: 85px;
    background-color: rgb(18,18,18);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.top-header .login {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.login li a:link, .login li a:visited {
    text-decoration: none;
    color: white;
}

.login li a:hover, .login li a:active {
    text-decoration: none;
    color: rgb(191,177,153);
}

.SD-logo{
    float: left;
    margin-left: 50px;
    width: 80px;
    height: 80px;
}

.menu {
    display: inline-block;
    width: 600px;
    margin-left: 200px;
}

.menu li + li {
    margin-left: 30px;
}

.menu li a:link, .menu li a:visited {
    text-decoration: none;
    color: white;
}

.menu li a:hover, .menu li a:active {
    text-decoration: none;
    color: rgb(191,177,153);
}

.wrapper {
    width: 950px;
    margin-top: 100px;
    margin-bottom: 30px;
}

#text-body {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 400px;
    outline: 0;
    font-size: 18px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
}

.upload {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #ccc;
}

.p-body {
    position: absolute;
    top: 50px;
    height: 100%;
    width: 100%;

}

.submit {
    width: 60px;
    float: right;
    margin-top: 20px;
}

