body {
    background: beige;
}

.register-body {
    width: 400px;
    height: 500px;
    float: right;
    margin-top: 110px;
    margin-right: 200px;
    position: relative;

}

.enter-form {
    margin-top: 100px;
    margin-left: 40px;

}

.register {

    font-size: 20px;
    font-weight: 900;
    border-left: 5px solid #00d0dc;
    padding-left: 6px;

}

.login-in {
    margin-top: 30px;
    width: 300px;
    margin-left: 80px;

}

.login-in a:link, .sign a:visited {
    color: #000;
    text-decoration: none;

}

.button {
    width: 20px;
    height: 10px;
    margin-left: 200px;
    margin-top: 30px;

}

.edit-lines {
    list-style-type: none;
    border-radius: 45px;
    line-height: 40px;
    color: #001100;
}

.edit-lines img {
    width: 20px;
    height: 20px;

}

.button-confirm {
    margin-left: 160px;
    margin-top: 40px;
    width: 100px;
    border: 1px solid red;

}

.button-confirm a:link {
    color: #000;
}

.register-name {
    border: none;
    margin-left: 30px;
    border-bottom: 2px dotted #000000;
    width: 90%;
    font-size: 20px;
    background: beige;
    outline: none;
}

.register-password {
    border: none;
    margin-left: 30px;
    border-bottom: 2px dotted #000000;
    width: 90%;
    margin-top: 10px;
    font-size: 20px;
    background: beige;
    outline: none;
}

.register-confirmPassword {
    border: none;
    margin-left: 30px;
    border-bottom: 2px dotted #000000;
    width: 90%;
    margin-top: 10px;
    font-size: 20px;
    background: beige;
    outline: none;
}
